# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
filelocation=os.path.join("..","output_data","cities.csv")
citiesdf=pd.read_csv(filelocation)
citiesdf=citiesdf[["City","Lat","Temperature (F)","Humidity (%)","Humidity (%)","Wind Speed (mph)"]]
citiesdf

,City,Lat,Temperature (F),Humidity (%),Humidity (%),Wind Speed (mph)
0,vardo,70.37,19.40,79.0,79.0,25.28
1,constantine,36.37,51.80,50.0,50.0,11.41
2,hermanus,-34.42,66.11,86.0,86.0,5.99
3,buraydah,26.33,42.80,70.0,70.0,6.89
4,jamestown,42.10,25.92,53.0,53.0,9.17
...,...,...,...,...,...,...
521,miri,4.41,79.50,94.0,94.0,2.24
522,gibara,21.11,64.40,68.0,68.0,6.93
523,sabang,5.89,82.49,78.0,78.0,20.18
524,baykit,61.67,-16.01,99.0,99.0,2.66
525,totskoye,52.52,20.53,95.0,95.0,6.71

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map